/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Open Sans', sans-serif;

}


/* generali */

html{
  scroll-behavior: smooth;
}

.button {
  padding: 5px 10px;
  background-color: #0061ff;
  color: white;
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

h3{
  font-size: 2em;
}

/* generali */


/* header */

  /* header-top */



.header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  position: fixed;
  background-color: white;
}

.header-top .l-col ul li {
  text-decoration: none;
  display: inline-block;
  padding: 20px 10px;
  color: black;
}

.l-col ul :first-child {
  vertical-align: middle;
}

.header-top .l-col ul li a {
  text-decoration: none;
}

.header-top .r-col ul li {
  text-decoration: none;
  display: inline-block;
  padding: 20px 10px;
}
.header-top .r-col ul li a {
  text-decoration: none;
}



/* header-bottom */

.b-section {
  width: 100%;
  background-color: #b4d0e7;
}

.header-bottom {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}


.header-bottom > h1 {
  margin: 100px 0px;
  font-size: 4.5em;
}




.b-h-text > *:first-child{
  margin-bottom: 40px;

}

.b-h-text > .icon-container > a > i {
  font-size: 3em;
  font-weight: bold;
  padding-top: 150px;
}


.b-h-text {
  width: 30%;
  min-height: 400px;
}

.b-h-img {
  width: 70%;
  min-height: 400px;
  margin-bottom: -100px;
}

.b-h-img > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.b-h-text :nth-child(3){
  padding-top: 20px;
}



/* fine header */

/* inizio main */

 /* prima sezione */

.main-container-1rst-row,
.main-container-2nd-row,
.main-container-3rd-row,
.faq-row {
  width: 60%;
  margin: auto;
}


.main-container-1rst-row > div > h2 {
  margin-top: 150px;
  font-size: 3em;
}

.radio-box {
  margin: 50px 0px;
}

.card .card-header {
  text-align: center;
  padding: 5px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.card-box {
  width: 100%;
  display: flex;
}

.card {
  min-height: 400px;
  width: calc((100% / 3) - 10px);
  border: 1px solid rgba(128, 128, 128, 0.5);
}

 /* CARD */

.card > ul li:first-child {
  padding: 30px 0px;
}

.card > ul li:nth-child(3) {
  padding: 10px 0px 20px;
  color: gray;
}

.card > ul li:nth-child(4) {
  padding: 10px 0px;
}

.card > ul li:nth-child(5) {
  padding: 10px 0px;
}

.card > ul li:nth-child(6) {
  padding: 5px 0px 30px;
}

.card > ul li:nth-child(7) {
  padding-top: 20px;
}

.card > ul li:nth-child(8) {
  padding: 20px 0px;
}
.card > ul {
  padding: 0px 30px;
}

.card > hr {
  width: 50px;
  color: gray;
  margin: 20px 30px;
}

.fa-ul span > i {
  color: #0061ff;
}

.list-2nd > ul {
  padding: 20px 0px;
}

.list-2nd > ul > li {
  padding: 10px 0px;
}

.margin {
  margin: 0px 30px;
}

 /* FINE CARD */

.orizzontal-card {
  width: 100%;
  margin-top: 50px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.or-top {
  text-align: center;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 10px 0px;
}

.or-bottom {
  width: 100%;
  min-height: 200px;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.left {
  width: 70%;
  height: 100%;
  padding: 20px 30px;

}

.right {
  width: 30%;
  height: 100%;
  padding: 40px 10px;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}

.left > * {
  padding-bottom: 30px;
}



 /* fine prima sezione */

 /* seconda sezione */

.img-box {
  width: 60%;
}
.text-box {
  width: 40%;
  margin-left: 30px;
  padding-top: 30px;
}
.img-box > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-container-2nd-row {
  display: flex;
  margin-top: 100px;
}

.text-box > *{
    margin: 20px 0px;
}

.white{
    background-color: white;
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.5);
}


 /* fine seconda sezione */

 /* inizio terza sezione */

 .main-container-3rd-row{
    margin-top: 100px;
 }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}

.container > .operation-card {
  width: calc((100% / 3) - 10px);
  min-height: 200px;
  margin-bottom: 30px;
}

.container > .operation-card :first-child{
  margin-bottom: 20px;
}



.operation-card > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.operation-card :nth-child(2){
  margin: 20px 0px;
}

.margin-3rd{
    margin: 0px 15px;
}

/* fine terza sezione */



.square-section {
  display: flex;
}

.square-section .square {
  width: calc(100% / 3);
  height: calc(100vw / 3);
  display: flex;
  flex-wrap: wrap;
}

.l-square {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container{
  width: 50%;
  height: 50%;
}

.image-container img{
  object-fit: contain;
  width: 100%;
  height: 100%;
  filter: invert(1);
}

#green{
  background-color: #A2D39B;
}

#brown{
  background-color: #61082B;
}

#light-blue{
  background-color: #0093CE;
}

#red{
  background-color: #FF1C1C;
}

#red-2{
  background-color: #D5001F;
}

#light-blue-2{
  background-color: #B4D0E7;
}

#blue{
  background-color: #0D2481;
}

#yellow{
  background-color: #FFD830;
}

.main-image-container{
  width: 50%;
  height: 30%;
}

.square .main-square-container hr{
  width: 20%;
  margin-bottom: 40px;
}

.main-image-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-square-container{
  padding: 0px 40px;
}

.main-square-container > *:not(hr){
  padding-bottom: 50px;
}

/* quarta sezione */

.text{
  width: 60%;
  margin: auto;
  min-height: 300px;
}

.text :first-of-type{
  margin: 40px;
}

/* fine quarta sezione */

 /* inizio quinta sessione */

.main-container-5th-row{
  background-color: #B4D0E7 ;
}

.info-container{
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
  min-height: 200PX;
}

.info-box-5th {
  width: 60%;
}

.button-box{
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}


 /* fine quinta sezione */

 /* inizio sezione faq */

.faq-row{
  margin-top: 50px;
}

.faq-row > h3{
  padding-bottom:40px ;
}

.faq-row > ul > li{
  padding: 30px 0px ;
  display: flex;
  justify-content: space-between;
}

.faq-row > ul > li > i{
  padding-right: 20px;
}

/* footer */

footer {
  background-color: black;
  color: white;
  min-height: 200px;
}

.footer-container{
  width: 70%;
  margin: 0 auto;
}

footer > .footer-container > nav{

  display: flex;

  justify-content: center;
}

footer > .footer-container > nav > ul > li {
  display: inline-block;
}

footer > .footer-container > nav > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
}

.vertical-list > li{
  padding: 10px 0px;
}

.vertical-list :first-child{
  padding: 10px 0px;
}

.bottom-border{
  border-bottom: 1px solid white;
}

.bottom-footer{
  padding: 50px 0px;
}

.bottom-footer :nth-child(3){
    padding-left:15px;
}

